div.introduce {
    display: flex;
    flex-direction: row;
    align-items: center;
  
    .introduce__image {
      flex: 1;
      overflow: hidden;
      img {
        width: 100%;
        height: auto;
        display: block;
      }
    }
  
    .introduce__content {
      flex: 1;
      padding-left: 20px;
      h2 {
        font-size: 25px;
        font-weight: bold;
      }
      p {
        font-size: 18px;
      }
    }
  }