.order {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  gap: 40px;
    .order__list {
        width: 90%;
        }
        .order__list-box {
            background-color: $border-color;
            border: 1px solid $border-color;
            border-radius: 5px;
            padding: 30px;
        
            .box-content {
                margin-bottom: 30px;
            }
            a {
                text-decoration: none;
                color: black;
                margin-right: 10px;
            }
        }
        .table {
            border-collapse: collapse;
            width: 100%;
            font-size: 14.5px;
          }
        
          th, td {
            text-align: center;
            vertical-align: middle;
            border: 1px solid $border-color;
            padding: 8px;
          }
    .order__item-box {
            background-color: $border-color;
            border: 1px solid $border-color;
            border-radius: 5px;
            padding: 30px;
    }
}
@media screen and (max-width: 767px){
  .order{
    .order__item{
      display: none;
    }
    .order__list{
      width: 100%;
      .table{
        font-size: 10px;
        width: 100%;
      }
    }
  }
}