section
        nav.nv 
        - var menuItems = ['Trang chủ','/', 'Sản Phẩm', '/', 'Rượu vang đỏ'];
        - var links = ['#', '#','#','#','#'];
        ul.menu
            each item, index in menuItems
                a.menu__link(href=links[index])= item