.login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    .login__link {
        font-size: 25px;
        margin-right: auto;
    }
    .login__button {
        margin-left: auto;
        background-color: $secondary-color;
        color: $primary-color;
        padding: 7px 35px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }
}
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .login-form {
    margin-top: 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    padding: 50px;
    border: 1px solid $border-color;
    border-radius: 4px;
  }
  h3{
    font-weight: normal;
    }
    p{
        margin-top: 5px;
        margin-bottom: 20px;
    }
  
  .input-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    width: 100%;
  }

  .input-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border: none;
    border-radius: 4px;
    background-color: $input-color;
    flex-grow: 1;
  }
  
  label {
    margin-right: 8px;
    width: 15%;
  }
  
  input[type="email"],
  input[type="password"]{
    height: 100%;
    width: 100%;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    padding: 8px;
    background-color: $input-color;
  }
  
  .action-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  a.forgot-password {
    font-size: 14px;
    color: $secondary-color;
    text-decoration: none;
    display: block;
    padding: 4px;
    border-radius: 4px;
    margin-bottom: 8px;
  }
  .login-button {
    align-items: center;
    background-color: $secondary-color;
    color: $primary-color;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    width: 18%;
    margin-top: 8px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
  }

  