main 
    div.login
        p.login__link GIỚI THIỆU
            img.login__img(src="./img/titleleft-dark.png", alt="")
    div.introduce
        .introduce__image
            img(src='./img/avtintroduce.jpg', alt='Image')
        .introduce__content
            h2 CHÀO MỪNG ĐẾN VỚI WINE HOURSE
            p Vàng nổ Thăng Long có hương vị đặc trưng của sản phảm lên men tự nhiên từ hoa quả và độ rượu nhẹ, bọt ga đầy trắng mịn. Vàng Nổ thắng long tạo cảm giác hương phấn, êm dịu vui tươi, sản phẩm được đóng chai dung tích 750ml Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang nổ Thăng Long Tạo cảm giác hương phấn, êm dịu, vui tươi 
            p Sản phẩm được đóng chai dung tích 750ml Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang nổ Thăng Long Tạo cảm giác hương phấn, êm dịu, vui tươi 