include ./pug//mixins
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel='stylesheet' href='./css/styes.css')
        link(rel="stylesheet", href="./js/scripts.js")
    body 
        include ./pug/header
        .wrapper
            include ./redwine/pug/menu
            include ./redwine/pug/content
            include ./pug/footer