$productItemWidth: 48%;
$primary-color: #f8f3ed;
$secondary-color: #000;
$yellow-color:#FFD700;
$yellows-color:rgb(191, 191, 8);
$input-color:#f2f2f2;
$border-color:#ddd;
$gray-color:#444;
$palewhite:#fcfbfb;
$time-cloer:rgb(146, 146, 143);
$red-color:red;
