header {
  .header__top {
    padding: 0px 200px;
    nav {
      .menus {
        list-style: none;
        margin: 0;
        padding: 0;
        
        .menus__item {
          display: inline-block;
          text-indent: -1em;
          margin-left: 1em;
  
          &:first-child {
            margin-left: 0px;
          }
  
          .menus__link {
            display: block;
            padding: 0.5em;
            text-decoration: none;
            color: $secondary-color;
          }
        }
      }
    }
  }

  .header__container {
    padding: 0px 200px;
    background-color:$secondary-color;
    @include flex;
    .logo {
      img {
        max-width: 600px;
        height: 100px;
        width: 100px;
      }
    }
    
    nav {
      .menu {
        display: flex;
        list-style: none;
        padding: 0;
        .menu__item {
          margin-left: 40px;
          
          &:first-child {
            margin-left: 0;
          }
          .menu__link{
            color:$primary-color;
            text-decoration: none;
            font-weight: bold;
            &:hover {
              color: $yellow-color;
            }
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 768px) {
  /* adjust styles for iPad */
  header {
    font-size: 10px;
    .header__top {
      padding: 0px 30px;
    }
    .header__container {
      padding: 0px 30px;
    }
  }
}
@media only screen and (min-width: 992px) {
  header {
    font-size: 15px;
    .header__top {
      padding: 0px 200px;
    }
    .header__container {
      padding: 0px 200px;
    }
  }
}

  @media screen and (max-width: 767px) {
    header {
      font-size: 6px;
      .header__top {
        padding: 0px 10px;
      }
      .header__container {
        .logo{
          display: none;
        }
        nav {
          .menu {
            .menu__item {
              margin-left: 10px;
            }
          }
        }
        padding: 0px 10px;
      }
    }
  }