main 
    div.login
        p.login__link DANH MỤC SẢN PHẨM
            img.login__img(src="./img/titleleft-dark.png", alt="")
    div.portfolio 
        .portfolio__product
            li 
                a(href="") RƯỢU NGOẠI 
            li 
                a(href="") Rượu chivas (26)
            li 
                a(href="") Hàng độc - rượu độc đáo (36)
            li
                a(href="") Johmie Walker (46)
            li 
                a(href="") Rượu Wisky (24)
            li 
                a(href="") Rượu Remy Martin (26)
            li 
                a(href="") Hàng độc - rượu độc đáo(36) 
            li 
                a(href="") RƯỢU NGOẠI 
            li 
                a(href="") Rượu chivas (26)
            li 
                a(href="") Hàng độc - rượu độc đáo (36)
            li
                a(href="") Johmie Walker (46)
            li 
                a(href="") Rượu Wisky (24)
            li 
                a(href="") Rượu Remy Martin (26)
            li 
                a(href="") Hàng độc - rượu độc đáo(36)
            li  
                a(href="") Hàng độc - rượu độc đáo(36) 
            li 
                a(href="") RƯỢU NGOẠI 
            li 
                a(href="") Rượu chivas (26)
            li 
                a(href="") Hàng độc - rượu độc đáo (36)
            li
                a(href="") Johmie Walker (46)
            li 
                a(href="") Rượu Wisky (24)
            li 
                a(href="") Rượu Remy Martin (26)
            li 
                a(href="") Hàng độc - rượu độc đáo(36)
            div.login
                p.login__link S0 SÁNG SẢN PHẨM
                    img.login__img(src="./img/titleleft-dark.png", alt="")
            P Bạn chưa có sản phẩm nào để so sánh
            div.login
                p.login__link TAG SẢN PHẨM
                    img.login__img(src="./img/titleleft-dark.png", alt="")
            +button('content__button', "window.location.href='#'", 'Đồng hồ')
            +button('content__button', "window.location.href='#'", 'Túi')
            +button('content__button', "window.location.href='#'", 'Phụ kiện')
            +button('content__button', "window.location.href='#'", 'Giày')
            +button('content__button', "window.location.href='#'", 'Sandal')
            +button('content__button', "window.location.href='#'", 'Áo sơ mi')
            +button('content__button', "window.location.href='#'", 'Nước hoa')
            +button('content__button', "window.location.href='#'", 'Trẻ em')
            +button('content__button', "window.location.href='#'", 'Thời trang nữ')
            img(src="./img/dmsp.jpg", alt="")
        .portfolio__products
            .redwiness 
                div.redwiness__product
                    img(src="./img/sp3.jpg", alt="")
                    a(href="") RƯỢU VANG ĐÀ LẠT 
                    div.price
                        span.main 370.000đ
                        span.sale - 450.000đ
                    +button ('redwiness__button', "window.location.href='#'", 'ADD TO CART')
                div.redwiness__product
                    img(src="./img/sp4.jpg", alt="")
                    a(href="") RƯỢU VANG ĐÀ LẠT
                    div.price
                        span.main 370.000đ
                        span.sale - 450.000đ
                    +button ('redwiness__button', "window.location.href='#'", 'ADD TO CART')
                div.redwiness__product
                    img(src="./img/sp5.jpg", alt="")
                    a(href="") RƯỢU VANG ĐÀ LẠT 
                    div.price
                        span.main 370.000đ
                        span.sale - 450.000đ
                    +button ('redwiness__button', "window.location.href='#'", 'ADD TO CART')
                div.redwiness__product
                    img(src="./img/sp6.jpg", alt="")
                    a(href="") RƯỢU VANG ĐÀ LẠT
                    div.price
                        span.main 370.000đ
                        span.sale - 450.000đ
                    +button ('redwiness__button', "window.location.href='#'", 'ADD TO CART')
                div.redwiness__product
                    img(src="./img/sp3.jpg", alt="")
                    a(href="") RƯỢU VANG ĐÀ LẠT 
                    div.price
                        span.main 370.000đ
                        span.sale - 450.000đ
                    +button ('redwiness__button', "window.location.href='#'", 'ADD TO CART')
                div.redwiness__product
                    img(src="./img/sp4.jpg", alt="")
                    a(href="") RƯỢU VANG ĐÀ LẠT
                    div.price
                        span.main 370.000đ
                        span.sale - 450.000đ
                    +button ('redwiness__button', "window.location.href='#'", 'ADD TO CART')
                div.redwiness__product
                    img(src="./img/sp5.jpg", alt="")
                    a(href="") RƯỢU VANG ĐÀ LẠT 
                    div.price
                        span.main 370.000đ
                        span.sale - 450.000đ
                    +button ('redwiness__button', "window.location.href='#'", 'ADD TO CART')
                div.redwiness__product
                    img(src="./img/sp6.jpg", alt="")
                    a(href="") RƯỢU VANG ĐÀ LẠT
                    div.price
                        span.main 370.000đ
                        span.sale - 450.000đ
                    +button ('redwiness__button', "window.location.href='#'", 'ADD TO CART')
                div.redwiness__product
                    img(src="./img/sp3.jpg", alt="")
                    a(href="") RƯỢU VANG ĐÀ LẠT
                    div.price
                        span.main 370.000đ
                        span.sale - 450.000đ
                    +button ('redwiness__button', "window.location.href='#'", 'ADD TO CART')

