section
        nav.nv 
        - var menuItems = ['Trang chủ','/', 'Đăng nhập'];
        - var links = ['#', '#','#'];
        ul.menu
            each item, index in menuItems
                a.menu__link(href=links[index])= item